{% if item.directory is defined and (item.directory | length > 0) %}
{% for directory in item.directory %}

    <Directory {{ directory.rule }}>
{% if directory.block is defined and (directory.block | length > 0) %}
{% for line in directory.block %}
        {{ line }}
{% endfor %}
{% endif %}
    </Directory>
{% endfor %}
{% endif %}
