{% if item.ssl_certificate is defined and item.ssl_certificate_key is defined %}

    SSLEngine on
{% if apache_enable_ssl_cipher_suite %}
    SSLCipherSuite {{ apache_ssl_cipher_suite | default('EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH') }}
{% endif %}
{% if apache_enable_ssl_protocol %}
    SSLProtocol {{ apache_ssl_protocol | default('All -SSLv2 -SSLv3 -TLSv1 -TLSv1.1') }}
{% endif %}
{% if apache_enable_ssl_cipher_order %}
    SSLHonorCipherOrder on
{% endif %}
{% if apache_enable_ssl_stapling %}
    SSLUseStapling on
{% endif %}
{% if apache_version_minor|int >= 4 and apache_version_patch|int >= 3 and apache_disable_ssl_compression %}
    SSLCompression off
{% endif %}
{% if apache_version_minor|int >= 4 and apache_version_patch|int >= 11 and apache_disable_ssl_session_tickets %}
    SSLSessionTickets off
{% endif %}
{% if apache_enable_ssl_hsts %}
    Header always set Strict-Transport-Security {{ apache_ssl_hsts | default('"max-age=63072000; includeSubDomains; preload"')}}
{% endif %}
    SSLCertificateFile {{ item.ssl_certificate }}
{% if item.ssl_certificate_chain is defined %}
    SSLCertificateChainFile {{ item.ssl_certificate_chain }}
{% endif %}
    SSLCertificateKeyFile {{ item.ssl_certificate_key }}
{% endif %}
