<VirtualHost {{ apache_ip_address | default('*') }}:{{ apache_http_port | default('80') }}>
{% if apache_enable_http_to_https_redirect and item.ssl_certificate is defined and item.ssl_certificate_key is defined %}
    ServerName {{ item.hostname }}
    Redirect permanent / https://{{ item.hostname }}
{% else %}
{% include 'server.j2' %}
{% include 'headers.j2' %}
{% include 'directory.j2' %}
{% include 'filesmatch.j2' %}
{% include 'log.j2' %}
{% endif %}
</VirtualHost>

{% if item.ssl_certificate is defined and item.ssl_certificate_key is defined %}
<VirtualHost {{ apache_ip_address | default('*') }}:{{ apache_https_port | default('443') }}>
{% include 'server.j2' %}
{% include 'ssl.j2' %}
{% include 'headers.j2' %}
{% include 'directory.j2' %}
{% include 'filesmatch.j2' %}
{% include 'log.j2' %}
</VirtualHost>
{% if apache_enable_ssl_stapling %}

SSLStaplingCache "{{ apache_ssl_stapling_cache | default('shmcb:logs/stapling-cache(150000)') }}"
{% endif %}
{% endif %}
